@model PageViewModel
<!-- MAIN CONTENT -->
<div id="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-horizontal">

            <div class="form-group">
                <label for="months" class="control-label col-md-1">Новини за</label>
                <div class="col-md-10">
                    @Html.ActionLink("1 месец назад", "bulletin", "page", new { months = 1 }, new { @class = "btn btn-default" })
                    @Html.ActionLink("2 месеца назад", "bulletin", "page", new { months = 2 }, new { @class = "btn btn-default" })
                    @Html.ActionLink("3 месеца назад", "bulletin", "page", new { months = 3 }, new { @class = "btn btn-default" })
                    @Html.ActionLink("4 месеца назад", "bulletin", "page", new { months = 4 }, new { @class = "btn btn-default" })
                    @Html.ActionLink("5 месеца назад", "bulletin", "page", new { months = 5 }, new { @class = "btn btn-default" })
                    @Html.ActionLink("6 месеца назад", "bulletin", "page", new { months = 6 }, new { @class = "btn btn-default" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    <!-- widget grid -->
                    <section id="widget-grid" class="">

                        <!-- row -->
                        <div class="row">

                            <!-- NEW WIDGET START -->
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <!-- Widget ID (each widget will need unique ID)-->
                                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-fullscreenbutton="false" data-widget-sortable="false" data-widget-deletebutton="false">
                                    <!-- widget options:
                                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                                        data-widget-colorbutton="false"
                                        data-widget-editbutton="false"
                                        data-widget-togglebutton="false"
                                        data-widget-deletebutton="false"
                                        data-widget-fullscreenbutton="false"
                                        data-widget-custombutton="false"
                                        data-widget-collapsed="true"
                                        data-widget-sortable="false"

                                    -->
                                    <!-- widget div-->
                                    <div>

                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->

                                        </div>
                                        <!-- end widget edit box -->
                                        <!-- widget content -->
                                        <div class="widget-body no-padding">

                                            <div class="form-horizontal">

                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        @Html.TextAreaFor(model => model.Content, new { @id = "ckeditor" })
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <!-- end widget content -->

                                    </div>
                                    <!-- end widget div -->

                                </div>
                                <!-- end widget -->

                            </article>
                            <!-- WIDGET END -->

                        </div>

                        <!-- end row -->

                    </section>
                    <!-- end widget grid -->
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-md-10">
                    <input type="submit" value="Изпрати" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/scripts/plugin/ckeditor/ckeditor.js"></script>

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            CKEDITOR.replace('ckeditor', { height: '380px', startupFocus: true });

        })

    </script>
}