    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("users", "active")">
                <a href="@Url.Action("index", "users")"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Потребители</span></a>
            </li>

            <li class="@Html.RouteIf("page", "active")">
                <a href="@Url.Action("welcome", "page")"><i class="fa fa-lg fa-fw fa-file-o"></i> <span class="menu-item-parent">Добре дошли</span></a>
            </li>

            <li class="@Html.RouteIf("page", "active")">
                <a href="@Url.Action("bulletin", "page", new { months = "1" })"><i class="fa fa-lg fa-fw fa-file-o"></i> <span class="menu-item-parent">Бюлетин</span></a>
            </li>

            <li class="@Html.RouteIf("page", "active")">
                <a href="@Url.Action("about", "page")"><i class="fa fa-lg fa-fw fa-file-o"></i> <span class="menu-item-parent">За мен</span></a>
            </li>

            <li class="@Html.RouteIf("page", "active")">
                <a href="@Url.Action("othersForMe", "page")"><i class="fa fa-lg fa-fw fa-file-o"></i> <span class="menu-item-parent">Другите за мен</span></a>
            </li>

            @{
                Html.RenderAction("Menu", "Gallery");
            }

            @{
                Html.RenderAction("Posts", "Blog");
            }
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->